    <!-- Last partial-->
    <!-- Script Section -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    </body>
    <footer>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
        <h6 class=" display-8 navbar-text"> &copy; CopyRight 2023. All Rights Reserved </h6>
        </nav>
    </footer>
</html>