<% include partials/header.ejs %>
<% include partials/content.ejs %>
  <body>
<!-- Your About Me Page should include your legal name, an image of you (I recommend a head
// and shoulders shot), a short paragraph about who you are. Keep this clean and simple as it
// may be viewed by perspective employers. (1 Mark: Content)

//  Your About Me page should include a link to a PDF version of your Resume (1 Mark:
// Content). -->
     <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Welcome to the <%= title %> page</h1>
    <hr>
    </div>
    </div>
  </body>
<% include partials/footer.ejs %>
