<% include partials/header.ejs %>
    <% include partials/content.ejs %>
  <body>
<!--     Your Contact Page should include your contact information in a panel or other construct. (1
// Mark: Content).

// i. Your Contact Page should include a short interactive form that allows the user send you a
// message and provide basic contact information (First Name, Last Name, Contact Number,
// Email Address, Message, etc.). This form does not have to be fully functional initially.
// However, it should be able to capture the information entered by the user and redirect
// them back to the Home Page (4 Marks: Content). -->
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Welcome to the <%= title %> page</h1>
    <hr>
  </div>
</div>
  </body>
<% include partials/footer.ejs %>
