<% include partials/header.ejs %>
 <% include partials/content.ejs %>
  <body>
<!--   Your Home Page should include some sort of welcome message and link or button that
allows the user to redirect to your About Me Page and / or other pages. I recommend also
including some sort of Mission Statement (2 Marks: Content). -->
   <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 >Welcome to the <%= title %> page</h1>
  <hr>
     <p> bizabiza</p>
  </div>
</div>
  </body>

<% include partials/footer.ejs %>
