<% include partials/header.ejs %>
  <% include partials/content.ejs %>
  <body>
<!-- Your Projects Page should include images and information for at least 3 Projects you wish
// to highlight. These could be current projects you are working on or past projects you have
// completed. Include an image for each Project and a short description of your role and the
// outcome. (2 Marks: Content) -->
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Welcome to the <%= title %> page</h1>
    <hr>
    </div>
    </div>
  </body>
<% include partials/footer.ejs %>

